---
- name: Déployer Jellyfin sur le cluster
  hosts: master
  become: yes
  tasks:
    - name: Créer le dossier de destination
      file:
        path: /home/devops/k8s-manifests
        state: directory

    - name: Copier le fichier Jellyfin sur le master
      copy:
        src: ../manifests/jellyfin.yaml
        dest: /home/devops/k8s-manifests/jellyfin.yaml
        owner: devops

    - name: Appliquer la config Kubernetes
      command: /usr/local/bin/k3s kubectl apply -f /home/devops/k8s-manifests/jellyfin.yaml
