---
- name: Déployer cert-manager avec Helm
  hosts: localhost
  connection: local
  vars:
    cert_manager_namespace: cert-manager
    cert_manager_repo_url: https://charts.jetstack.io
    cert_manager_chart_name: cert-manager
    cert_manager_release_name: cert-manager
    cert_manager_version: v1.14.5 # Utiliser une version stable connue ou la dernière si spécifiée

  tasks:
    - name: Ajouter le dépôt Helm de cert-manager
      kubernetes.core.helm_repository:
        name: jetstack
        repo_url: "{{ cert_manager_repo_url }}"
        state: present

    - name: Installer cert-manager
      kubernetes.core.helm:
        name: "{{ cert_manager_release_name }}"
        chart_ref: jetstack/{{ cert_manager_chart_name }}
        release_namespace: "{{ cert_manager_namespace }}"
        create_namespace: true
        chart_version: "{{ cert_manager_version }}"
        values:
          installCRDs: true
        state: present
