---
- name: Préparation des noeuds (Stockage)
  hosts: all
  become: yes
  tasks:
    - name: 1. Installer open-iscsi
      apt:
        name: open-iscsi
        state: present
        update_cache: yes

    - name: 2. Activer le service iscsid
      service:
        name: iscsid
        state: started
        enabled: yes

    - name: 3. Créer le dossier pour les disques
      file:
        path: /var/lib/longhorn
        state: directory
        mode: "0777"

- name: Installation de Longhorn (Master)
  hosts: master
  become: yes
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  tasks:
    - name: 4. Installer Helm
      shell: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      args:
        creates: /usr/local/bin/helm

    - name: 5. Ajouter le dépôt Helm Longhorn
      kubernetes.core.helm_repository:
        name: longhorn
        repo_url: "https://charts.longhorn.io"

    # C'EST ICI LA MAGIE : On force tous les noeuds à accepter du stockage
    - name: 6. Coller l'étiquette "Stockage" sur tous les noeuds
      command: /usr/local/bin/k3s kubectl label nodes --all node.longhorn.io/create-default-disk=true --overwrite

    - name: 7. Déployer Longhorn (Configurée pour le Lab)
      kubernetes.core.helm:
        name: longhorn
        chart_ref: longhorn/longhorn
        release_namespace: longhorn-system
        create_namespace: true
        values:
          persistence:
            defaultClassReplicaCount: 1 # <--- On force 1 seule copie (évite les erreurs)
          defaultSettings:
            defaultDataPath: /var/lib/longhorn
            createDefaultDiskLabeledNodes: true # <--- On utilise les étiquettes qu'on a posées en étape 6
            storageOverProvisioningPercentage: 200 # <--- On autorise le dépassement
            storageMinimalAvailablePercentage: 10 # <--- On autorise le remplissage
