---
- name: Déployer MetalLB (Load Balancer)
  hosts: master
  become: yes
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  tasks:
    - name: 1. Ajouter le dépôt Helm MetalLB
      kubernetes.core.helm_repository:
        name: metallb
        repo_url: https://metallb.github.io/metallb

    - name: 2. Installer le chart Helm MetalLB
      kubernetes.core.helm:
        name: metallb
        chart_ref: metallb/metallb # <--- C'était ça qui manquait !
        release_namespace: metallb-system
        create_namespace: true
