---
- name: Déployer MinIO (S3 Local)
  hosts: master
  become: yes
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  tasks:
    - name: 1. Ajouter le dépôt Helm MinIO
      kubernetes.core.helm_repository:
        name: minio
        repo_url: https://charts.min.io/

    # CORRECTION ICI : On utilise la commande brute au lieu du module Python
    - name: 2. Créer l'espace de noms minio-system
      command: /usr/local/bin/k3s kubectl create namespace minio-system
      ignore_errors: yes # Ignore l'erreur si le dossier existe déjà

    - name: 3. Installer MinIO
      kubernetes.core.helm:
        name: minio
        chart_ref: minio/minio
        release_namespace: minio-system
        create_namespace: false # On l'a déjà fait manuellement au-dessus
        update_repo_cache: true
        values:
          mode: standalone
          replicas: 1
          persistence:
            enabled: true
            storageClass: longhorn
            size: 10Gi
          resources:
            requests:
              memory: 512Mi
              cpu: 500m
          rootUser: admin
          rootPassword: SuperSecretMinioKey
          service:
            type: ClusterIP
          consoleService:
            type: ClusterIP
