---
- name: Préparation (Tous les noeuds)
  hosts: all
  become: yes
  tasks:
    - name: Couper le firewall (UFW)
      service: name=ufw state=stopped enabled=no

- name: Installation Master
  hosts: master
  become: yes
  tasks:
    - name: Installer K3s Master
      shell: curl -sfL https://get.k3s.io | sh -
    
    - name: Récupérer le Token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: token_data

    - name: Sauvegarder les infos
      set_fact:
        k3s_token: "{{ token_data['content'] | b64decode | trim }}"
        master_ip: "{{ ansible_host }}"

- name: Installation Workers
  hosts: workers
  become: yes
  tasks:
    - name: Rejoindre le cluster
      shell: "curl -sfL https://get.k3s.io | K3S_URL=https://{{ hostvars[groups['master'][0]]['master_ip'] }}:6443 K3S_TOKEN={{ hostvars[groups['master'][0]]['k3s_token'] }} sh -"
